$primary-color: aquamarine;
$secondary-color: rgb(104, 3, 3);
$third-color: rgb(237, 188, 226);
$fourth-color: pink;
$accent-color: black;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$mobile: 800px;
