.homeContent {
  margin-top: 10rem;
  margin-left: 2rem;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}

.backgroundImage {
  z-index: -1;
  opacity: 0.4;
  min-height: 100vh;
  height: fit-content;
}
