$primaryColor: rgb(141, 224, 214);
$secondaryColor: rgb(47, 0, 0);
$backGround: black;
$textColor: white;

$font: "Times New Roman", Times, serif;
$fontSize: 18px;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
